<h1>{{title}}</h1>
<p>CSS  "Cascading Style Sheets"
     se usa para estilizar elementos escritos en un lenguaje de marcado como HTML
     CSS separa el contenido de la representación visual del sitio. </p>



    <p>fue creado para trabajar en conjunto con lenguajes de marcado como HTML.  Se utiliza para estilizar una página.
    Hay tres estilos de implementación de CSS, y puedes usar el estilo Externo para asignar varias páginas a la vez.
    Hoy en día podrás ver algún tipo de implementación de CSS en cualquier parte, ya que es un requisito tan  importante como el propio lenguaje de marcado.</p> 